{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
    
  <h1>Lisää työntekijä</h1>
    
        <form method="post" action="{{base_path}}/employees">
            
              <div class="form-group">
                  <label>Henkilönumero</label>
                  <input type="text" name="id" class="form-control" value="{{attributes.id}}">
              </div>

              <div class="form-group">
                <label>Etunimi</label>
                <input type="text" name="etunimi" class="form-control" value="{{attributes.etunimi}}" >
              </div>
              <div class="form-group">
                <label>Sukunimi</label>
                <input type="text" name="sukunimi" class="form-control" value="{{attributes.sukunimi}}" >
              </div>
              <div class="form-group">
                <label>Osoite</label>
                <input type="text" name="osoite" class="form-control" value="{{attributes.osoite}}" >
              </div>
              <div class="form-group">
                <label>Puhelin</label>
                <input type="text" name="puh" class="form-control" value="{{attributes.puh}}" >
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Tallenna</button>
                <a href="{{base_path}}/employees" class="btn btn-danger">Peruuta</a>
              </div>
            
        </form>
        
        {% if errors %}
          <div class="alert alert-danger">
            <ul>
              {% for error in errors %}
                <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
  
</div>  
{% endblock %}
