{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
    {% if message %}
        <h1>{{message}}</h1>
    {% else %}
      <h1>Muokkaa työvuoroa</h1>
    {% endif %}  
            <form method="post" action="{{base_path}}/tasks/{{task.id}}">

                  <div class="form-group">
                      <label>Tunnus</label>
                      <input type="text" name="id" class="form-control" value="{{task.id}}" disabled="">
                  </div>
                {% if message %}
                        <div class="form-group">
                          <label>Alkuaika</label>
                          <input type="time" name="alkuaika" class="form-control" value="{{task.alkuaika}}" disabled>
                        </div>
                        <div class="form-group">
                          <label>Loppuaika</label>
                          <input type="time" name="loppuaika" class="form-control" value="{{task.loppuaika}}" disabled>
                        </div>
                {% else %}
                        <div class="form-group">
                          <label>Alkuaika</label>
                          <input type="time" name="alkuaika" class="form-control" value="{{task.alkuaika}}">
                        </div>
                        <div class="form-group">
                          <label>Loppuaika</label>
                          <input type="time" name="loppuaika" class="form-control" value="{{task.loppuaika}}">
                        </div>
                {% endif %}
                  <div class="form-group">
                    <label>Kesto</label>
                    <input type="text" name="kesto" class="form-control" value="{{task.kesto}}" disabled>
                  </div>
                {% if message %} 
                    <div class="form-group">
                        <label>Lisätietoja</label>
                        <textarea name="tietoja" class="form-control" readonly>{{task.tietoja}}</textarea>
                    </div>
                   
                   
                      <div class="form-group">
                         
                          <a href="{{base_path}}/tasks" class="btn btn-success">OK</a>
                          <a href="{{base_path}}/tasks/{{task.id}}" class="btn btn-primary">MUOKKAA</a>
                      </div>
                  {% else %}
                  
                      <div class="form-group">
                        <label>Lisätietoja</label>
                        <textarea name="tietoja" class="form-control" >{{task.tietoja}}</textarea>
                      </div>
                  
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Tallenna</button>
                          <a href="{{base_path}}/tasks" class="btn btn-danger">Peruuta</a>
                      </div>
                  {% endif %}
            </form>
            
            {% if errors %}
                <div class="alert alert-danger">
                  <ul>
                    {% for error in errors %}
                      <li>{{error}}</li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
    
</div>  
{% endblock %}

