{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
    
  <h1>Muokkaa työtekijän tietoja</h1>

  <form>
        <div class="form-group">
            <label>Henkilönumero</label>
            <input type="text"  class="form-control" value="394830" disabled>
        </div>

        <div class="form-group">
          <label>Etunimi</label>
          <input type="text" class="form-control" value="Teppo">
        </div>
        <div class="form-group">
          <label>Sukunimi</label>
          <input type="text" class="form-control" value="Duunari">
        </div>
        <div class="form-group">
          <label>Osoite</label>
          <input type="text" class="form-control" value="Kuutamokuja 6">
        </div>
        <div class="form-group">
          <label>Puhelin</label>
          <input type="text" class="form-control" value="049 4343366">
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Tallenna</button>
        </div>
  </form>
</div>  
{% endblock %}