{% extends "base.html" %}
{% block content %}
  <h1>TYÖNTEKIJÄT</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää työntekijä</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Henkilönumero</th>
        <th>Nimi</th>
        <th>Puhelin</th>       
      </tr>
    </thead>

    <tbody>
      
      <tr>
        <td>394830</td>
        <td><a href="#">Teppo Duunari</a></td>
        <td>049 4343366</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
