{% extends "base.html" %}
{% block content %}

    <h1>Työvuorolista</h1>

    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th><label>PVM /</label> <br> <label>HENKILÖ</label></th>
                {% for date in dates  %}
                    <th>{{date|date('d.m')}}</th>
                {% endfor %}
            </tr>

        </thead> 

        <tbody>
            {% for emp in emps  %}
            <tr>

               <td>{{emp.id}}</td>
                {% for task in emp.tasks  %}
                    <td>{{task.id}}</td>
                {% endfor %}

            </tr>   
            {% endfor %}    

        </tbody>


    </table>

{% endblock %}